<%= form_for(@nguoi_dung) do |f| %>
  <% if @nguoi_dung.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nguoi_dung.errors.count, "error") %> prohibited this nguoi_dung from being saved:</h2>

      <ul>
      <% @nguoi_dung.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
