<h1>Listing nguoi_dungs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nguoi_dungs.each do |nguoi_dung| %>
  <tr>
    <td><%= nguoi_dung.name %></td>
    <td><%= nguoi_dung.email %></td>
    <td><%= link_to 'Show', nguoi_dung %></td>
    <td><%= link_to 'Edit', edit_nguoi_dung_path(nguoi_dung) %></td>
    <td><%= link_to 'Destroy', nguoi_dung, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nguoi dung', new_nguoi_dung_path %>
